@model List<WantsToPlay>
@{
    ViewData["Title"] = "WantsToPLay";
}

<style>
.search-container {position: absolute;top: 60px;right: 30px;display: flex;align-items: center;padding: 10px;}
.search-container input {border: none;outline: none;background: #0d0047;padding: 10px 15px;color: white;font-size: 16px;width: 200px;font-family: monospace;transition:.3s;}
.search-container button {background: #06108f;color: white;border: none;padding: 8px 12px;cursor: pointer;transition: 0.3s ease;box-shadow: 0px 0px 10px 1px #146dab;font-family: sans-serif;font-weight: bold;font-size:18px}
.search-container button:hover {box-shadow: 0px 0px 10px 4px #1800d8;}
.search-container input:focus {border: 1px solid #000000;box-shadow: 0 0 6px 1px #755dff;}

</style>


<body style="background-image: linear-gradient(#00021f, #091045, #040026);">

    <!--Start Search-->
    <form method="get" asp-controller="Games" asp-action="Search2" class="search-container">
        <input type="text" name="searchname" placeholder="Search..." autocomplete="false" />
        <button type="submit">search</button>
    </form>
    <!--End Search-->

    <!--Start Title-->
    <h1 style="color: #1e5ace;font-weight: bold;text-shadow: 1px -1px 0px #ffffff;font-size: 50px;font-family: Arial;">
        WishList
    </h1>
    <!--End Title-->

    <hr />

    <!--Start Add-->
    <a asp-controller="Games" asp-action="AddWantsToPlay"style="text-decoration:none; color: #ffffff;background-color: #06108f;border-radius: 5px;box-shadow: 0px 0px 12px 2px #146dab;padding: 10px;font-size: 20px;font-weight: bold;font-family: sans-serif;"> Add Game</a>
    <!--End Add-->

<hr />

    <table class="table table-bordered table-hover">
        <tr style="color: #070494;
                   text-shadow: 0px 1px 2px #ffffff;
                   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                   font-size: 20px;
                   background-image: linear-gradient(156deg, #070026, #070026);">
            <th>Name</th>
            <th>Type</th>
            <th>Company</th>
            <th>Size</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="color: white;
                   font-family: monospace;
                   font-weight: 600;">
                <td>@item.Name</td>
                <td>@item.GameType</td>
                <td>@item.Company</td>
                <td>@item.Size</td>
                <td style="text-shadow: 1px 1px 10px #87ef8b;width:70px">@item.Status</td>
                <td style="width:70px">
                    @* <a href="/Games/EditWanted?Name=@item.Name" style="text-decoration:none; color:#d50000">Edit</a> *@
                    <a asp-controller="Games" asp-action="EditWanted" asp-route-name="@item.Name"
                              style="text-decoration:none; color: #ffffff;
                              background-color: #06108f;
                              border-radius: 5px;
                              box-shadow: 0px 0px 12px 2px #146dab;
                              padding: 2px;margin-left:8px"> Edit</a>
                </td>
                @* <td><a asp-controller="Games" asp-action="Delete" asp-route-name="@item.Name" id="mylink">Delete</a></td> *@
            </tr>
        }
    </table>
</body>



